* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#code-wrapper {
    padding: 16px;
    height: 100vh;
    display: flex;    
}

#code {
    width: 100%;
    overflow: auto;
}

#paper {
    display: none;
    background: rgb( 0,43,54 ); 
    color: #111;
    padding: 16px;
    position: fixed; 
    width: 50%; 
    height: 100%; 
    right: 0;
    display: flex; 
    align-items: flex-start;
}

.container {
    position: relative;
    width: 240px;
    height: 425px;
}

.hold-head {
    position: relative;
    height: 200px;
    z-index: 3;
}

.hold-face {
    position: absolute;
    z-index: 3;
    height: 222px;
    width: 238px;    
}

.hold-nose {
    position: absolute;
    top: 125px;
    left: 111px;
    height: 14px;
    overflow: hidden; 
} 

.hold-mouth {
    position: relative;
    top: 150px;
    left: 70px;
    height: 9px;
    width: 100px;
    overflow: hidden;
} 

.hold-tail {
    position: absolute;
    z-index: -2;
    width: 200px;
    height: 340px;
    left: -165px;
    bottom: 0;
    overflow: hidden;
    z-index: 0;
} 

.token.selector {
    color: black;
}

.token.property {
    color: black;
}

.token.function {
    color: black;
}

.actions{
    position: absolute;
    right: 34px;
    top: 32px;
    display: flex;
    flex-direction: column;
}

.actions>button{
    margin: 4px;
    text-decoration: none;
	background: #2f435e;
	color: #f2f2f2;
    padding: 10px 25px 10px 25px;
	font-size: 14px;
	font-weight: bold;
    border-radius: 3px;
	transition:all linear 0.30s;
}

.actions>button.active{
    background: #385f9e;
    box-shadow: 1px 1px 1px rgba(222,222,222,0.8);
}

.actions>button:focus{
    outline: none;
}

@keyframes breath {
    0% {
        box-shadow: 0 0 10px white
    }
    100% {
        box-shadow: 0 0 10px rgba(0,43,54,0.2)
    }
} 

